- form = local_assigns.fetch(:form)

- if Feature.enabled?(:squash_options)
  = form.fields_for :project_setting do |settings|
    .form-group
      %b= s_('ProjectSettings|Squash commits when merging')
      %p.text-secondary
        = s_('ProjectSettings|ProjectSettings|Set the default behavior and availability of this option in merge requests. Changes made are also applied to existing merge requests.')
        = link_to "What is squashing?",
          help_page_path('user/project/merge_requests/squash_and_merge.md'),
          target: '_blank'

      .form-check.gl-mb-2
        = settings.radio_button :squash_option, :never_squash, class: "form-check-input"
        = label_tag :project_squash_option_never_squash, class: 'form-check-label' do
          .gl-font-weight-bold
            = s_('ProjectSettings|Do not allow')
          .text-secondary
            = s_('ProjectSettings|Squashing is never performed and option is hidden.')

      .form-check.gl-mb-2
        = settings.radio_button :squash_option, :enabled_with_default_off, class: "form-check-input"
        = label_tag :project_squash_option_enabled_with_default_off, class: 'form-check-label' do
          .gl-font-weight-bold
            = s_('ProjectSettings|Allow')
          .text-secondary
            = s_('ProjectSettings|Option is visible but unselected by default.')

      .form-check.gl-mb-2
        = settings.radio_button :squash_option, :enabled_with_default_on, class: "form-check-input"
        = label_tag :project_squash_option_enabled_with_default_on, class: 'form-check-label' do
          .gl-font-weight-bold
            = s_('ProjectSettings|Encourage')
          .text-secondary
            = s_('ProjectSettings|Option is visible and selected by default.')

      .form-check.gl-mb-2
        = settings.radio_button :squash_option, :always_squash, class: "form-check-input"
        = label_tag :project_squash_option_always_squash, class: 'form-check-label' do
          .gl-font-weight-bold
            = s_('ProjectSettings|Require')
          .text-secondary
            = s_('ProjectSettings|Squashing is always performed. Option is visible and selected, but users cannot change it.')

