- page_title _("History"), @page.human_title, _("Wiki")

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = sprite_icon('chevron-double-lg-left')

  .nav-text
    %h2.wiki-page-title
      = link_to @page.human_title, wiki_page_path(@wiki, @page)
      %span.light
        &middot;
        = _("History")

.table-holder
  %table.table.wiki-history
    %thead
      %tr
        %th= s_("Wiki|Page version")
        %th= _("Author")
        %th= _("Commit")
    %tbody
      - @page_versions.each_with_index do |commit, index|
        %tr
          %td
            = link_to wiki_page_path(@wiki, @page, version_id: index == 0 ? nil : commit.id) do
              #{time_ago_with_tooltip(commit.authored_date)}
          %td
            = commit.author_name
          %td.wiki-commit.str-truncated-100
            = link_to wiki_page_path(@wiki, @page, action: :diff, version_id: commit.id), { title: commit.message } do
              = commit.message
= paginate @page_versions, theme: 'gitlab'

= render 'shared/wikis/sidebar'
